name: develop-branch-apply

on:
  issue_comment:
    types:
      - created

jobs:
  develop-apply:
    if: github.event.issue.pull_request
    uses: minikocha/branch-deploy-test/.github/workflows/terragrunt-apply.yaml@develop
    with:
      DEPLOYMENT_TARGET: environments/develop

  common-apply:
    if: github.event.issue.pull_request
    uses: minikocha/branch-deploy-test/.github/workflows/terragrunt-apply.yaml@develop
    with:
      DEPLOYMENT_TARGET: environments/common
