name: develop-branch-apply

on:
  # NOTE: `issue_comment`イベントはactionsの設定がデフォルトブランチに存在しないと実行されない
  issue_comment:
    types:
      - created

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - name: debug github.base_ref
        run: echo "github.base_ref ${{ github.base_ref }}"

  develop-apply:
    if: github.event.issue.pull_request && github.base_ref == 'develop'
    uses: minikocha/branch-deploy-test/.github/workflows/terragrunt-apply.yaml@develop
    with:
      DEPLOYMENT_TARGET: develop
    permissions:
      checks: read
      contents: write
      deployments: write
      pull-requests: write
      repository-projects: read
      statuses: read

  common-apply:
    if: github.event.issue.pull_request && github.base_ref == 'develop'
    uses: minikocha/branch-deploy-test/.github/workflows/terragrunt-apply.yaml@develop
    with:
      DEPLOYMENT_TARGET: common
    permissions:
      checks: read
      contents: write
      deployments: write
      pull-requests: write
      repository-projects: read
      statuses: read
