name: pre-check

on:
  workflow_call:

jobs:
  pre-check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # NOTE: OIDCプロバイダーでの認証に必須
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          persist-credentials: false

      - name: Debug
        run: echo "pre-check is called"

#      - name: Assume role
#        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 #v5.1.1
#        with:
#          role-to-assume: ${{ secrets.LEARNING_TERRAFORM_PLAN_ROLE_ARN }}
#          aws-region: ap-northeast-1
#          role-session-name: GitHubActions
#
#      - name: Install tools
#        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 #v3.5.1
#
#      - name: Init all units
#        run: |
#          terragrunt run -a --no-color -- init -upgrade
#
#      - name: Validate all units
#        run: terragrunt run -a --no-color -- validate
#
#      - name: Format all units
#        run: terragrunt run -a --no-color -- fmt -check -recursive
#
#      - name: Validate terragrunt configuration
#        run: terragrunt hcl validate --no-color
#
#      - name: Format terragrunt configuration
#        run: terragrunt hcl fmt --check --no-color
#
#      - name: Init, validate, format terraform modules
#        run: |
#          set -euo pipefail
#          
#          for path in $(ls modules); do
#            [[ ! -d "modules/${path}" ]] && continue
#            [[ ! -f "modules/${path}/main.tf" ]] && continue
#          
#            cd "modules/${path}" \
#              && terraform init -no-color \
#              && terraform validate -no-color \
#              && terraform fmt -check -no-color \
#              && cd -
#          done
#        env:
#          TF_PLUGIN_CACHE_DIR: ${{ github.workspace }}/.terraform-plugin-cache
